* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* REMOVE BLUE TEXT HIGHLIGHT */
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #F3F4F6;
  color: #111827;
  overflow-x: hidden;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BUTTONS */
button {
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
}

button:hover {
  transform: scale(1.03);
}

/* INPUTS */
input,
textarea,
select {
  font-family: inherit;
  outline: none;
}

/* REMOVE BLUE SELECTION */
::selection {
  background: transparent;
  color: inherit;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #E5E7EB;
}

::-webkit-scrollbar-thumb {
  background: #6366F1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4F46E5;
}